@import "lib-mixins";
@import "lib-reset";
@import "lib-rem";

@purple: #5a183c;
@gold: #b0865e;

.index-page-container {
  header {
    .top-bar {
      text-align: right;
      width: 50vw;
      padding: 0 25vw;
      height: 1rem;
      background-color: @purple;
      color: @gold;
      line-height: 1rem;
      font-size: .6rem;
      font-weight: bold;
      span {
        margin-right: 1rem;
      }
      a {
        text-decoration: none;
        color: @gold;
        margin-left: 1rem;
      }
    }
    .top-nav {
      width: 50vw;
      padding: 0 25vw;
      height: 2.7rem;
      background-color: #fff;
      text-align: center;
      box-shadow: 0 .1rem .5rem #333;
      position: fixed;
      top: 1rem;
      .icon {
        display: inline-block;
        background-color: #fff;;
        width: 3.4rem;
        height: 3.4rem;
        text-align: center;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        position: relative;
        top: .4rem;
        box-shadow: 0 1px #999;
        img {
          width: 2.5rem;
          height: 2.5rem;
          position: relative;
          top: .5rem;
        }
      }
    }
    .banner {
      width: 100vw;
      margin-top: 3rem;
      img {
        width: 100%;
      }
    }
  }
  .news-content {
    width: 50vw;
    padding: 0 25vw;
    height: 8.5rem;
    background-color: rgb(12, 56, 71);

  }
}
