@import "lib-mixins";
@import "lib-reset";
@import "lib-rem";

@purple: #5a183c;
@light-purple: #98216c;
@gold: #b0865e;

ul {
  padding: 0;
  appearance: none;
  margin: 0;
}

li {
  list-style-type: none;
}

// 共用部分
.clearfix {
  clear: both;
}

.clear::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}

.general-footer-content {
  .index-footer-content {
    padding: .7rem 25vw;
    width: 50vw;
    margin-top: 2.5rem;
    background-color: @purple;
    color: #fff;
    display: flex;
    .link-content {
      width: 15rem;
      display: flex;
      flex: 3;
    }
    .item {
      flex: 1;
      text-align: center;
    }
    .item p {
      font-size: .5rem;
    }
    .item .title {
      font-size: .7rem;
      margin-bottom: 0;
    }
    .qrcode-content {
      width: calc(~"50vw - 15rem");
      flex: 2;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: 8rem;
      }
    }
  }
  .copyright {
    width: 100vw;
    height: 2.5rem;
    background-color: #000;
    text-align: center;
    p {
      font-size: .5rem;
      margin: 0;
      color: #999;
      padding-top: .4rem;
    }
  }
}

.nav-content {
  a {
    text-decoration: none;
    color: #000;
  }
  .top-bar {
    text-align: right;
    width: 50vw;
    padding: 0 25vw;
    height: 1rem;
    background-color: @purple;
    color: @gold;
    line-height: 1rem;
    font-size: .6rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1;
    span {
      margin-right: 1rem;
    }
    a {
      text-decoration: none;
      color: @gold;
      margin-left: 1rem;
    }
  }
  .top-nav {
    width: 50vw;
    padding: 0 25vw;
    height: 4rem;
    background: url('../img/nav-BG.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 1rem;
    text-align: center;
    z-index: 1;

    .nav-tab {
      font-size: .6rem;
      position: absolute;
      width: 20vw;
      display: flex;
      height: 2rem;
      line-height: 2rem;
      bottom: 1.06rem;
      span {
        text-align: center;
        flex: 1;
        cursor: pointer;
        transition: all .3s ease;
      }
    }
    .left-part {
      left: 25vw;
    }
    .right-part {
      right: 25vw;
    }
    .active {
      color: @purple;
      border-bottom: .16rem solid @purple;
    }
    img {
      width: 2.5rem;
      height: 2.5rem;
      position: relative;
      top: 1rem;
    }
  }
  .banner {
    width: 100vw;
    margin-top: 3rem;
    img {
      width: 100%;
    }
  }
}

.login-header, .register-header {
  height: 2.7rem;
  width: 50vw;
  padding: 0 25vw;
  background-color: #fff;
  box-shadow: 0 1px .1rem #999;
  .logo {
    height: 1.7rem;
    padding: .5rem 0;
    display: inline-block;
  }
  .mobile {
    float: right;
    height: .7rem;
    padding: 1rem 0;
  }
}

.index-page-container {
  overflow-x: hidden;
  -webkit-text-size-adjust:none;
  .news-content {
    width: 50vw;
    padding: 0 25vw;
    display: flex;
    .left-part {
      position: relative;
      top: -.95rem;
      flex: 3.2;
      padding: .5rem 1rem .5rem .5rem;
      height: 10rem;
      background: url('../img/news-left-part.png');
      background-size: 100% 100%;
      header {
        font-size: .6rem;
        color: #fff;
        height: 1.5rem;
        line-height: 1.5rem;
        border-bottom: 1px dashed rgba(200, 200, 200, 0.6);
      }
      header span {
        font-size: .4rem;
      }
      .item {
        font-size: .4rem;
        color: #fff;
        height: .9rem;
        width: 100%;
        line-height: .9rem;
        display: inline-block;
        margin-top: .3rem;
        border-bottom: 1px dashed rgba(200, 200, 200, 0.6);
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      .item:hover {
        text-decoration: underline;
      }
      .hollow-btn {
        width: 2.5rem;
        height: .8rem;
        line-height: .8rem;
        font-size: .3rem;
        text-align: center;
        color: #fff;
        border: 1px solid #fff;
        position: absolute;
        bottom: .5rem;
        right: 1.5rem;
        transition: all ease .3s;
        cursor: pointer;
      }
      .hollow-btn:hover {
        background-color: #fff;
        color: @purple;
      }
    }
    .right-part {
      flex: 5;
      height: 8rem;
      margin-top: 1rem;
      padding: 0rem 0 1rem .5rem;
      border-left: 1px solid #ccc;
      header {
        font-size: .7rem;
        border-bottom: 1px solid #ccc;
        margin-bottom: .4rem;
      }
      header span, header a {
        font-size: .5rem;
      }
      a {
        text-decoration: none;
      }
      .more {
        color: #ccc;
        float: right;
        display: inline-block;
      }
      .item {
        -webkit-text-size-adjust:none;
        font-size: .3rem;
        height: 1rem;
        line-height: 1rem;
        background-color: #f0f0f0;
        padding-left: .4rem;
        margin-bottom: .16rem;
        display: flex;
        cursor: pointer;
      }
      .title {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      .time {
        display: inline-block;
        background-color: #303030;
        color: #fff;
        float: right;
        padding: 0 .4rem;
      }
      .item:hover {
        .title {
          color: @light-purple;
        }
        .time {
          background-color: @light-purple;
        }
      }
    }
  }
  .recommend-content {
    width: calc(~"50vw - 1rem");
    margin: 0 25vw;
    padding: .5rem;
    background-color: #fff;
    border: 1px solid #333;
    box-shadow: 1px 1px .2rem #333;
    position: relative;
    header {
      font-size: .56rem;
      color: @purple;
      width: calc(~"100% - 1rem");
      padding: .5rem;
      border-bottom: 1px dashed #ccc;
      margin-bottom: .5rem;
    }
    header span {
      float: right;
      font-size: .3rem;
    }
    .recommend-img {
      width: 9rem;
      height: 5.5rem;
      margin-right: 1rem;
      float: left;
    }
    .recommend-text::after {
      content:".";
      display:block;
      height:0;
      visibility:hidden;
      clear:both;
    }
    .top-part {
      font-size: .4rem;
      li {
        text-indent: -.42rem;
        margin-bottom: .1rem;
        color: #666;
      }
    }
    .bottom-part {
      position: absolute;
      bottom: 0;
      right: 6.4rem;
      font-size: .4rem;
      p {
        color: #999;
      }
    }
    .sign-btn {
      position: absolute;
      background-color: @purple;
      font-size: .6rem;
      padding: .2rem .4rem;
      border-radius: .1rem;
      color: #fff;
      right: .5rem;
      bottom: .4rem;
      cursor: pointer;
      transition: all .3s ease;
    }
    .sign-btn:hover {
      background-color: #fff;
      border: 1px solid @purple;
      color: @purple;
    }
  }
  .center-banner {
    width: 100vw;
    text-align: center;
    margin-top: 1rem;
    img {
      width: 50vw;
    }
  }
  .beauty-contest {
    margin-top: 1.2rem;
    background-color: #fff2f9;
    padding: 1rem 25vw 1.6rem 25vw;
    width: 50vw;
    text-align: center;
    .logo {
      width: 7.6rem;
      margin-bottom: .7rem;
    }
    ul {
      display: flex;
    }
    li {
      flex: 1;
      padding-right: .7rem;
      img {
        width: 100%;
        float: left;
      }
    }
    li:last-child {
      padding-right: 0;
    }
    .desc {
      height: 4rem;
      width: 100%;
      background-color: #fff;
      float: left;
      p {
        margin-bottom: .6rem;
        font-size: 9px;
        color: @gold;
        text-align: right;
        line-height: 13px;
      }
    }
  }
  .activity-content {
    padding: 1.4rem 25vw;
    width: 50vw;
    text-align: center;
    .logo {
      width: 7.6rem;
      margin-bottom: .7rem;
      padding-bottom: .8rem;
    }
    .banner-content {
      width: 100%;
      img {
        width: 25%;
        float: left;
        object-fit: cover;
      }
    }
    .hollow-btn {
      width: 5rem;
      height: 1.2rem;
      border: 1px solid @purple;
      color: @purple;
      display: inline-block;
      margin-top: 1rem;
      font-size: .7rem;
      line-height: 1.2rem;
      border-radius: .2rem;
      transition: all .4s ease;
      cursor: pointer;
    }
    .hollow-btn:hover {
      background-color: @purple;
      color: #fff;
    }
  }
}

.login-container {
  width: 100vw;
  .main-content {
    margin-top: 5px;
    width: 100vw;
    height: 15rem;
    background: url('../img/banner.png');
    background-size: contain;
    .form-content {
      margin: 2.5rem 25vw 0 0;
      border: 1px solid #999;
      height: 10rem;
      width: 8.6rem;
      z-index: 1;
      float: right;
    }
    .select-identify {
      height: 1.5rem;
      width: 8.6rem;
      border-bottom: 1px solid #999;
      padding: 0;
      span {
        width: calc(~"50% - 1px");
        display: inline-block;
        float: left;
        font-size: .7rem;
        text-align: center;
        line-height: 1.5rem;
        cursor: pointer;
        transition: all .3s ease;
      }
      span:first-child {
        border-right: 1px solid #999;
      }
      .active {
        height: 1.4rem;
        border-bottom: .1rem solid @purple
      }
    }
    .input-content {
      width: calc(~"100% - 1.4rem");
      padding: .7rem;
      input {
        width: calc(~"100% - 1.2rem");
        padding-left: 1.2rem;
        font-size: .5rem;
        height: 1rem;
        line-height: 1rem;
        border: 1px solid #999;
        border-radius: .1rem;
      }
      .user-content, .password-content {
        position: relative;
      }
      img {
        width: .5rem;
        height: .6rem;
        position: absolute;
        left: .25rem;
        top: .5rem;
        border-right: 1px solid #999;
        padding-right: .3rem;
      }
      .password-content {
        margin-top: .7rem;
      }
      .forget-password {
        font-size: .5rem;
        float: right;
        margin-top: .7rem;
        text-decoration: none;
      }
      .footer-content {
        font-size: .5rem;
        text-align: center;
        .login-btn {
          width: 100%;
          height: 1.2rem;
          background-color: @purple;
          border: 1px solid @purple;
          color: #fff;
          border-radius: .2rem;
          line-height: 1.2rem;
          font-size: .7rem;
          text-align: center;
          margin-top: .8rem;
          transition: all ease .4s;
          cursor: pointer;
        }
        .login-btn:hover {
          background-color: #fff;
          color: @purple;
          border: 1px solid @purple;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

.register-container {
  width: 100vw;
  .main-content {
    width: 100%;
    text-align: center;
    h3 {
      font-size: 1rem;
      color: @purple;
      margin: 0;
      padding: 3rem 0 1rem 0;
      border-bottom: 1px solid #f0f0f0;
      width: 50vw;
      margin-left: 25vw;
    }
    .process-bar {
      padding-top: 1.6rem;
      width: 40vw;
    }
    .input-content-1 {
      width: 100vw;
      text-align: center;
      padding-top: 1rem;
    }
    .user-content, .password-content {
      width: 20vw;
      height: 1rem;
      position: relative;
      margin: 0 40vw;
      img {
        width: .5rem;
        height: .6rem;
        position: absolute;
        border-right: 1px solid #999;
        padding: .1rem .25rem;
        top: .35rem;
      }
      input {
        width: calc(~"100% - 1.2rem");
        height: 100%;
        // height: 1rem;
        // line-height: 1rem;
        font-size: .5rem;
        border-radius: .1rem;
        box-shadow: 0;
        border: 1px solid #999;
        padding-left: 1.2rem;
      }
    }
    .code-content {
      width: 20vw;
      height: 1rem;
      margin-top: 1rem;
      margin: 0 40vw;
      text-align: left;
      input {
        width: calc(~"60% - .2rem");
        height: 100%;
        font-size: .5rem;
        border-radius: .1rem;
        box-shadow: 0;
        border: 1px solid #999;
        width: 10vw;
        padding-left: .2rem;
      }
      .send-code-btn {
        width: 8vw;
        float: right;
        height: 1rem;
        position: relative;
        top: 2px;
        display: inline-block;
        margin-top: .1rem;
        font-size: .5rem;
        line-height: 1rem;
        text-align: center;
        border: 1px solid #999;
        color: #333;
        cursor: pointer;
      }
    }
    .forget-passwd-content1 {
      text-align: center;
      .left-part, .right-part {
        display: inline-block;
        padding: 1rem .5rem;
      }
      .btn {
        border: 1px solid @light-purple;
        font-size: .6rem;
        color: @light-purple;
        padding: .2rem .5rem;
        border-radius: .2rem;
        margin-top: .6rem;
        transition: all .3s ease;
        cursor: pointer;
      }
      .btn:hover {
        background-color: @light-purple;
        color: #fff;
      }
    }
  }
  .notice {
    padding-top: .4rem;
    font-size: .5rem;
  }
  .tips {
    font-size: .5rem;
    margin: 0;
    padding-top: 1rem;
  }
  .confirm-btn {
    font-size: .5rem;
    text-align: center;
    display: inline-block;
    width: 20vw;
    margin-left: 40vw;
    background-color: @light-purple;
    color: #fff;
    padding: .3rem 0;
    margin-top: 1rem;
    border-radius: .2rem;
  }
  .level-picker {
    width: 30vw;
    margin: 0 35vw;
    font-size: .6rem;
    padding-top: 1rem;
    img {
      display: inline-block;
    }
    .members {
      width: 20vw;
      float: right;
    }
    .active {
      background: url('../img/付费选框.png') no-repeat;
      background-size: 100% 100%;
      background-position: center;
    }
  }
  .pay-picker {
    width: 30vw;
    margin: 0 35vw;
    font-size: .6rem;
    padding-top: 1rem;
    img {
      display: inline-block;
      width: 9vw;
      float: right;
    }
    .ali-pay {
      margin-right: 2vw;
    }
    .active {
      border: 1px solid rgb(204, 116, 35);
    }
  }
  .success-content {
    text-align: center;
    img {
      width: 1rem;
      height: 1rem;
      position: relative;
      top: .16rem;
    }
  }
  .success-title {
    margin-top: 2rem;
    color: @purple;
    font-size: .8rem;
  }
  .success-subtitle {
    font-size: .5rem;
  }
}

.activity-container {
  background-color: rgb(253, 231, 219);
  .nav-content {
    text-align: center;
    height: 15rem;
    .img1 {
      position: relative;
      top: -3.5rem;
      left: -1rem;
    }
    .img2 {
      position: relative;
      top: -2rem;
    }
    .img3 {
      position: relative;
      top: -3.5rem;
      right: -1rem;
    }
  }
  .title-content {
    width: 50vw;
    padding: 0 25vw;
    text-align: center;
  }
  .activity-notice-bg {
    background: url('../img/BG-1.png') no-repeat;
    background-size: cover;
    width: 62vw;
    padding: 0 19vw;
    padding-top: 1rem;
    .activity-notice {
      background: url('../img/活动公告BG.png') no-repeat;
      background-size: 100% 100%;
      padding: 1rem;
      width: 62vw;
      width: calc(~"62vw - 2rem");
    }
    .left-part {
      font-size: .5rem;
      color: #fff;
      width: 35vw;
      margin-left: 3vw;
      display: inline-block;
      line-height: 1rem;
      .title {
        font-size: .8rem;
        margin: 0;
        width: 35vw;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(240, 240, 240, .3);
      }
      .title span {
        font-size: .5rem;
      }
      ul {
        padding-top: .7rem;
      }
      li {
        display: flex;
        padding-top: .4rem;
        border-bottom: 1px solid rgba(240, 240, 240, .3);
      }
      .item-title {
        width: 30vw;
        flex: 5;
        height: .7rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      .item-desc {
        flex: 1;
        padding: 0 1vw;
        text-align: right;
      }
    }
    .right-part {
      width: 10vw;
      height: 5rem;
      display: inline-block;
      position: relative;
      top: -1rem;
      .title {
        background: url('../img/活动公告-特别消息.png');
        background-size: 100% 100%;
        padding-top: 7rem;
        padding-bottom: 1.6rem;
        width: 17vw;
        margin: 0;
        margin-left: 2vw;
        text-align: center;
        font-size: .5rem;
        color: #fff;
      }
    }
  }
  .introduce-content {
    padding: 1rem 2rem;
    background-color: rgb(254, 220, 158);
    .main-content {
      background: url('../img/活动介绍.png') no-repeat;
      background-size: 100% 100%;
      height: 13rem;
      margin-bottom: 1rem;
    }
    p {
      color: rgb(254, 220, 158);
      font-size: .5rem;
      width: 27vw;
      height: 10rem;
      padding-top: 3rem;
      padding-left: 1.8rem;
    }
  }
  .activity-list-content {
    width: 100%;
    background-color: rgb(254, 220, 158);
    margin-top: 1rem;
    padding-bottom: 1rem;
    img {
      width: 100%;
    }
    .main-content {
      background-color: rgb(190, 65, 114);
      padding: 1rem;
      width: calc(~"50vw - 2rem");
      margin: 0 6vw;
    }
    nav {
      border-bottom: 1px solid #fff;
    }
    nav .item {
      width: 3rem;
      display: inline-block;
      height: .6rem;
      font-size: .6rem;
      margin: 0 .6rem;
      margin-bottom: 1rem;
      color: #fff;
      border-right: 1px solid #f0f0f0;
      cursor: pointer;
    }
    nav .item:last-child {
      border-right: 0;
    }
    .active {
      color: rgb(254, 220, 158) !important;
    }
    .first-item {
      font-size: .6rem;
      background: url('../img/活动专区-大框.png') no-repeat;
      background-size: 100% 100%;
      border-radius: .1rem;
      padding: .2rem .8rem 1rem .8rem;
      position: relative;
      .title {
        color: @purple;
        padding-bottom: .2rem;
        border-bottom: 1px dashed #999;
      }
      img {
        width: 20vw;
        margin-left: 1vw;
        float: left;
      }
      .bottom-part {
        position: absolute;
        bottom: 1rem;
        right: 4.4rem;
        font-size: .4rem;
        p {
          color: #999;
          margin: 0;
        }
      }
      .sign-btn {
        position: absolute;
        background-color: @light-purple;
        font-size: .5rem;
        padding: .2rem .4rem;
        border-radius: .1rem;
        color: #fff;
        right: 1.2rem;
        bottom: 1rem;
        cursor: pointer;
        transition: all .3s ease;
      }
    }
    .detail-content {
      width: 20vw;
      display: inline-block;
      font-size: .4rem;
      text-indent: -.4rem;
      margin-left: 1.2vw;
      li {
        margin-bottom: .2rem;
      }
    }
    .activity-list .item {
      background-color: #fff;
      background: url('../img/活动专区-小框.png') no-repeat;
      background-size: 100% 100%;
      height: 1.8rem;
      line-height: 1.8rem;
      margin-bottom: .6rem;
      border-radius: .1rem;
      cursor: pointer;
      .tag {
        padding: .1rem .2rem;
        font-size: .5rem;
        color: #fff;
        background-color: #f00;
        position: relative;
        top: -1px;
        left: .5rem;
      }
      .title {
        padding-left: 1.5rem;
        font-size: .6rem;
      }
    }
  }
  .activity-review-content {
    width: 62vw;
    margin: 0 19vw;
    background-color: rgb(254, 220, 158);
    margin-top: 1rem;
    img {
      width: 100%;
    }
    .content-title {
      width: 90%;
      margin: 0 5%;
      font-size: .8rem;
      text-align: center;
      padding: 1rem  0 .6rem 0;
      border-bottom: 1px solid #999;
    }
    .main-content {
      width: 50vw;
      margin: 0 6vw;
      padding-bottom: 1rem;
    }
    .main-content img {
      width: 22%;
      margin-right: 4%;
      margin-top: 1rem;
      float: left;
    }
    .main-content img:nth-child(4n + 0) {
      margin-right: 0;
    }
    .content-footer {
      width: 90%;
      margin: 0 5%;
      border-top: 1px solid #999;
      text-align: center;
      padding: 1rem 0;
      span {
        display: inline-block;
        font-size: .5rem;
        padding: .2rem .4rem;
      }
      .disable {
        color: #999;
        border: 1px solid #999;
      }
      .available {
        background-color: @light-purple;
        color: #fff;
      }
    }
  }
  .partner-content {
    width: 62vw;
    margin: 0 19vw;
    background-color: rgb(254, 220, 158);
    padding: 1rem 0;
    margin-top: 1rem;
    .content-title {
      width: 80%;
      margin: 0 10%;
      text-align: center;
      border-bottom: 1px solid #999;
      padding: .4rem 0;
      p {
        margin: 0;
      }
      .title {
        color: #666;
        font-size: .8rem;
      }
      .subtitle {
        color: #999;
        font-size: .5rem;
        display: inline-block;
      }
    }
    .logo-content {
      width: 50vw;
      margin: 0 6vw;
      img {
        width: 12%;
        float: left;
        margin-right: 10%;
        margin-top: 1rem;
      }
      img:nth-child(5n + 0) {
        margin-right: 0;
      }
    }
  }
}
