body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
}

.container {
  width: 40vw;
  height: 40vw;
  position: absolute;
  background-color: #f0f0f0;
  top: 50%;
  left: 50%;
  margin-top: -20vw;
  margin-left: -20vw;
  border: 1px solid #000;
}

section span {
  display: inline-block;
  position: absolute;
  background: url('../img/panda.jpg') no-repeat;
  background-size: 40vw 40vw;
  transition: all .3s ease;
  cursor: pointer;
}

section span:hover {
  box-shadow: 0 0 0.5rem #222;
}

.mode {
  width: 5rem;
  height: 2.5rem;
  background-color: #6a4c9c;
  color: #fff;
  display: inline-block;
  margin: 0.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}

.mode:active {
  background-color: #fa6861;
}

.start-btn {
  position: absolute;
  width: 20vw;
  height: 5vw;
  line-height: 5vw;
  margin: 10vw 40vw;
  top: 10vw;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.5rem #666;
}

.start-btn:active {
  background-color: #fff;
  color: #222;
}
